version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: microservicesdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - ms-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  user-service:
    build: ./user-service
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: microservicesdb
    networks:
      - ms-net
    ports:
      - "3001:3001"
    restart: on-failure

  order-service:
    build: ./order-service
    depends_on:
      postgres:
        condition: service_healthy
      user-service:
        condition: service_started
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: microservicesdb
    networks:
      - ms-net
    ports:
      - "3002:3002"
    restart: on-failure

  proxy:
    build: ./proxy
    depends_on:
      - user-service
      - order-service
    ports:
      - "8083:80"
    networks:
      - ms-net

volumes:
  pgdata:

networks:
  ms-net:
    driver: bridge
